.container-footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .footer-icons {
    display: flex;
    gap: 1rem;
    & a {
      & img {
        width: 20px;
        height: 20px;
      }
    }
    & a:hover {
      transform: scale(1.2);
    }
  }
}

@media screen and (width > 750px) {
  .container-footer {
    padding: 1.2rem 3.5rem;
  }
}
