.list-tecnologies {
  padding: 1rem 0.7rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(158, 158, 158, 0.15);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  & h2 {
    margin-bottom: 1rem;
  }
}

.container-list-technologies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 1rem;
}

.container-technology {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  background-color: rgba(28, 85, 54, 0.342);
  padding: 0.2rem;
  border: 0.3rem solid var(--tertiary-color);
  border-radius: 1.5rem;
  justify-content: center;
  align-items: center;
  & p {
    font-size: 1rem;
    color: var(--tertiary-color);
    font-weight: 600;
  }
  & .technology-icon {
    width: 18px;
    height: 18px;
  }
}

@media screen and (width > 750px) {
  .list-tecnologies {
    padding: 3rem 3rem;
    margin: 0 1rem;
    & h2 {
      font-size: 1.8rem;
    }
  }
  .container-list-technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .container-technology {
    width: 160px;
  }
}

@media screen and (width > 1000px) {
  .container-technology {
    padding: 0.5rem;
    & .technology-icon {
      width: 25px;
      height: 25px;
    }
  }
}
