.list-tecnologies {
  padding: 1rem 0.7rem;
  /* background-color: transparent; */
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(158, 158, 158, 0.15);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  & h2 {
    margin-bottom: 1rem;
  }
}

.container-list-technologies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  /* flex-wrap: wrap; */
  gap: 1rem;
}

.container-technology {
  display: flex;
  /* width: fit-content; */
  gap: 0.5rem;
  background-color: rgba(28, 85, 54, 0.342);
  /* background: rgb(5, 243, 124); */
  padding: 0.5rem;
  border: 0.3rem solid var(--tertiary-color);
  border-radius: 1.5rem;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 0 0.1rem 0.1rem black; */
  & p {
    font-size: 1.2rem;
    color: var(--tertiary-color);
    font-weight: 600;
  }
  & img {
    width: 25px;
    height: 25px;
  }
}

@media screen and (width > 750px) {
  .container-list-technologies {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
