.list-tecnologies {
  padding: 1rem 0.7rem;
  /* background-color: transparent; */
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(158, 158, 158, 0.15);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-technology .css {
  background-color: #1572b6;
}
.container-technology {
  display: flex;
  /* background-color: #e34f26; */
  width: 80%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  justify-content: space-around;
  align-items: center;
  & p {
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
  }
  & img {
    width: 30px;
    height: 30px;
  }
  & .css {
    background-color: #1572b6;
    width: 100%;
    display: flex;
  }
}
