@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-color: #111010;
  --secondary-color: #05a857;
  --tertiary-color: #07da70;
  --font: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 14px;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar-track {
  background: rgb(41, 41, 41);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 206);
  border-radius: 20px;
  border: 3px solid rgb(63, 63, 63);
}

body {
  background: rgb(70, 70, 70);
  background: linear-gradient(
    0deg,
    rgba(70, 70, 70, 1) 8%,
    rgba(0, 0, 0, 1) 100%
  );
  color: var(--secondary-color);
  font-family: var(--font);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth !important;
}

#root {
  scroll-behavior: smooth !important;
}

input {
  font-family: var(--font);
}
