@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #111010;
  --secondary-color: #05a857;
  --tertiary-color: #07da70;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

*::-webkit-scrollbar {
  width: 14px; /* width of the entire scrollbar */
  scroll-behavior: smooth;
}

*::-webkit-scrollbar-track {
  background: rgb(41, 41, 41); /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 206); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(63, 63, 63); /* creates padding around scroll thumb */
}

body {
  background: rgb(70, 70, 70);
  background: linear-gradient(
    0deg,
    rgba(70, 70, 70, 1) 8%,
    rgba(0, 0, 0, 1) 100%
  );
  color: var(--secondary-color);
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  /* width: 100vw;
  max-width: 100vh; */
  overflow-x: hidden;
  scroll-behavior: smooth !important;
  /* position: relative; */
}

input {
  font-family: "Montserrat", sans-serif;
}
